@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --font-inter: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary-50: #f2f8f9;
  --color-primary-100: #dfedf1;
  --color-primary-500: #43849a;
  --color-primary-600: #27788e;
  --color-primary-700: #2b5b6d;
  --color-primary-900: #26414e;
  --color-primary-950: #152a34;
  
  --color-accent-400: #e8bc4a;
  --color-accent-500: #dfa928;

  /* Language Theme Colors */
  --color-en-primary: #1e3a8a;
  --color-en-secondary: #dc2626;
  --color-en-light: #eff6ff;

  --color-es-primary: #dc2626;
  --color-es-secondary: #eab308;
  --color-es-light: #fef2f2;

  --color-zh-primary: #ef4444;
  --color-zh-secondary: #f59e0b;
  --color-zh-light: #fff1f2;

  --color-de-primary: #171717;
  --color-de-secondary: #eab308;
  --color-de-light: #fafafa;

  --color-fr-primary: #2563eb;
  --color-fr-secondary: #ef4444;
  --color-fr-light: #eff6ff;
}

@layer base {
  body {
    @apply font-sans text-slate-800 bg-slate-50 antialiased selection:bg-primary-500 selection:text-white;
  }

  
  h1, h2, h3, h4, h5, h6 {
    @apply tracking-tight;
  }
}
